<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>App Fragments</title>
</head>

<body th:fragment = "nav-default" >

        <a th:href="@{/}"><i class="fa-solid fa-house"></i> Accueil </a>
        <a th:href="@{/entreprise}"><i class="fa-solid fa-building"></i> Entreprise </a>
        <a th:href="@{/stagiaire}"><i class="fa-solid fa-person"></i> Stagiaire </a>
        <a th:href="@{/inscription}"><i class="fa-solid fa-handshake-angle"></i> Inscription </a>
        <a th:href="@{/aide}"><i class="fa-sharp fa-solid fa-circle-info"></i> Aide </a>
    <div class="bottom">
        <a ><i class="bi bi-caret-right-fill"></i> Développer </a>
        <a ><i class="bi bi-caret-left-fill"></i> Réduire </a>
    </div>


</body>
</html>