<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                    ~{::title},
                                                    ~{:: #entreprise-static-resources},
                                                    ~{:: #entreprise-header},
                                                    ~{:: #entreprise-nav},
                                                    ~{:: #entreprise-main-content},
                                                    ~{:: #entreprise-footer}
                                                    )}">
<head>
  <title>Title of entreprise Page</title>
</head>
<body>
<div id="entreprise-nav" th:replace="~{/fragments/app-fragments ::nav-default}">
  Nav
</div>
<div id="entreprise-main-content">
  <h2>entreprise</h2>
  <p>Samsung</p>
  <p>iPhone</p>
  <p>Nokia</p>
</div>
</body>
</html>