<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                    ~{::title},
                                                    ~{:: #entreprise-static-resources},
                                                    ~{:: #entreprise-header},
                                                    ~{:: #nav},
                                                    ~{:: #entreprise-main-content},
                                                    ~{:: #entreprise-footer}
                                                    )}">
<head>
  <title>Title of entreprise Page</title>
</head>
<body>
<div id="nav" th:replace="~{/fragments/app-fragments ::nav-default}"></div>
<div id="entreprise-main-content" class="corps">
  <h2>entreprise</h2>
</div>
</body>
</html>