<!DOCTYPE html>
<!--main-fragment (title, otherStaticResources, header, nav,mainContent, footer)-->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
            ~{::title},
            ~{:: #home-static-resources},
            ~{:: #home-header},
            ~{:: #nav},
            ~{:: #home-main-content},
            ~{:: #home-footer}
            )}">
<head>
    <title>Title of home Page</title>
</head>
<body>
    <div id="nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
    <div id="home-main-content" class="corps">
        <h2>Home content</h2>
        <div>Content of Home Page</div>
    </div>
</body>
</html>