<!DOCTYPE html>
<!--main-fragment (title, otherStaticResources, header, nav,mainContent, footer)-->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
            ~{::title},
            ~{:: #infoEntreprise-static-resources},
            ~{:: #infoEntreprise-header},
            ~{:: #nav},
            ~{:: #infoEntreprise-main-content},
            ~{:: #infoEntreprise-footer}
            )}">
<head>
  <title>Title of home Page</title>
</head>
<body>
  <div id="nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
  <div id="infoEntreprise-main-content" class="corps">

    <div class="form-body">
      <div class="row">

              <form class="requires-validation" th:action="@{/entreprise}" method="post" th:object="${entreprise}" novalidate>
                <h3>Information</h3>

                  <div class="col-md-10 mb-3">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text ">Nom de l'entreprise</span>
                      </div>
                      <input th:field="*{raisonSociale}" type="text" name="raisonSociale" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text ">Nom du contact</span>
                      </div>
                      <input th:field="*{nomContact}" type="text" name="nomContact" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend w-25">
                        <span class="input-group-text ">Nom du responsable</span>
                      </div>
                      <input th:field="*{nomResp}" type="text" name="nomResp" class="form-control">
                    </div>
                  </div>


                <h3>Contact</h3>

                <div class="col-md-10 mb-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Rue</span>
                    </div>
                    <input th:field="*{rueEntreprise}" type="text" name="rueEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Code postale</span>
                    </div>
                    <input th:field="*{cpEntreprise}" type="text" name="cpEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Ville</span>
                    </div>
                    <input th:field="*{villeEntreprise}" type="text" name="villeEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Téléphone</span>
                    </div>
                    <input th:field="*{telEntreprise}" type="text" name="telEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Fax</span>
                    </div>
                    <input th:field="*{faxEntreprise}" type="text" name="faxEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Email</span>
                    </div>
                    <input th:field="*{email}" type="text" name="email" class="form-control">
                  </div>
                </div>

                <h3>Divers</h3>

                <div class="col-md-10 mb-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Observation</span>
                    </div>
                    <input th:field="*{observation}" type="text" name="observation" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Url du site</span>
                    </div>
                    <input th:field="*{siteEntreprise}" type="text" name="siteEntreprise" class="form-control">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Niveau</span>
                    </div>
                    <input th:field="*{niveau}" type="text" name="niveau" class="form-control">
                  </div>
                </div>

                <h3 class="">Spécialité</h3>


                <div class="col-md-10 mb-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend w-25">
                      <span class="input-group-text ">Spécialité</span>
                    </div>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Les Spécialités</option>
                      <option value="SLAM">SLAM</option>
                      <option value="SISR">SISR</option>
                      <option value="AM">AM</option>
                      <option value="SN">SN</option>
                    </select>

                  </div>
                </div>

                <div class="form-button mt-3">
                  <button id="submit" type="submit" class="btn btn-primary">Register</button>
                </div>
              </form>
            </div>
    </div>
  </div>
</body>
</html>