<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                    ~{::title},
                                                    ~{:: #inscription-static-resources},
                                                    ~{:: #inscription-header},
                                                    ~{:: #nav},
                                                    ~{:: #inscription-main-content},
                                                    ~{:: #inscription-footer}
                                                    )}">
<head>
    <title>Title of inscription Page</title>
</head>
<body>
<div id="nav" th:replace="~{/fragments/app-fragments ::nav-default}"></div>
<div id="inscription-main-content" class="corps">
    <h2> inscription inscriptioninscriptioninscription inscription</h2>
</div>
</body>
</html>