<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                    ~{::title},
                                                    ~{:: #inscription-static-resources},
                                                    ~{:: #inscription-header},
                                                    ~{:: #inscription-nav},
                                                    ~{:: #inscription-main-content},
                                                    ~{:: #inscription-footer}
                                                    )}">
<head>
    <title>Title of inscription Page</title>
</head>
<body>
<div id="inscription-nav" th:replace="~{/fragments/app-fragments ::nav-default}">
    Nav
</div>
<div id="inscription-main-content">
    <h2>inscription</h2>
    <p>Samsung</p>
    <p>iPhone</p>
    <p>Nokia</p>
</div>
</body>
</html>