<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                    ~{::title},
                                                    ~{:: #stagiaire-static-resources},
                                                    ~{:: #stagiaire-header},
                                                    ~{:: #nav},
                                                    ~{:: #stagiaire-main-content},
                                                    ~{:: #stagiaire-footer}
                                                    )}">
<head>
  <title>Title of Products Page</title>
</head>
<body>
<div id="nav" th:replace="~{/fragments/app-fragments ::nav-default}"></div>
<div id="stagiaire-main-content" class="corps">
  <h2>stagiaire</h2>
  <p>Samsung</p>
  <p>iPhone</p>
  <p>Nokia</p>
</div>
</body>
</html>